.oculto {
    display: none;
}
.icone {
    float: right;
    width: 17px;
    margin-left: 12px;
}
.icone-grande {
    width: 35px;
    margin-left: 12px;
}
.comandos {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.pointer {
    cursor: pointer;
}
input.pesquisa {
    border-radius: 0px;
    height: 30px;
}

input[type=text].pesquisa {
    width: 400px;
}

.card {
    padding-top: 10px;
    padding-bottom: 10px;
}

* {
    font-family: arial,sans-serif;
}

.titulo {
    font-size: 20px;
    color: #609;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border: 1px solid green; */
}

.descricao {
    color: #3C4043;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border: 1px solid green; */
}

.url {
    color: #1a0dab;
    cursor: pointer;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border: 1px solid green; */
}

.header {
    max-width: 750px;
    margin: auto;
    text-align: center;
}

.resultado {
    min-height: 600px;
    padding-top: 30px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding-top: 60px;
}
/* unvisited link */
a {
    text-decoration: none;
}

a:link {
    color: #5363d5;
  }
  
  /* visited link */
  a:visited {
    color: #5363d5;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: #5363d5;
  }